#remote-media video {
  width: 100vw;
  object-fit: cover;
  object-position: center;
}

#local-media video {
  z-index: 100;
  position: absolute;
  bottom: 8vh;
  right: 7vw;
  width: 20vw;
}

#unmute-video {
  z-index: 100;
  position: absolute;
  bottom: 8vh;
  right: 7vw;
}

#switch-camera {
  z-index: 100;
  position: absolute;
  bottom: 3vh;
  right: 7vw;
}

#hang-up-button {
  z-index: 100;
  position: absolute;
  bottom: 8vh;
  left: 7vw;
}
